/* Reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}
html, body, #root {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  cursor: default;
  width: 100%;
  overflow: hidden;
}

/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* APP */
.app {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-flow: column nowrap;
}

/* MAIN SECTION */
.main-section {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

/* SIDEBAR */
.sidebar {
  padding: 5px 15px;
  flex: 0 0 230px;
  background-color: rgb(45, 47, 80);
}
.sidebar__title {
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
}

/* PRIMARY ROOT*/
.primary-root {
  padding: 20px 40px;
  display: flex;
  flex-flow: column nowrap;
  flex: 2 1 auto;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(38, 40, 68);
}

/* HEADER */
.header {
  display: flex;
  flex-flow: row;
  justify-content: left;
  width: 100%;
  position: relative;
}
.header__title {
  line-height: 45px;
  font-size: 27px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 1);
}

/* SEARCHBAR */
.searchbar {
  margin-left: 70px;
  width: 500px;
  height: 45px;
  position: relative;
}
.searchbar::before {
  font-family: 'Material Icons';
  z-index: 2;
  position: absolute;
  font-size: 26px;
  left: 10px;
  line-height: 45px;
  width: 10px;
  color: rgba(255, 255, 255, 0.5);
  content: 'search';
}
.searchbar input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  padding-left: 55px;
  font-size: 17px;
  line-height: 45px;
  border-radius: 3px;
  border: 0px;
  color: rgb(255, 255, 255);
  position: relative;
}
.searchbar input::-webkit-input-placeholder {
  /*color: rgb(131, 133, 162);*/
  color: rgba(255, 255, 255, 0.5);
}

/* TABS
  We are using the name custom-tabs to override default mdl styles on tabs
  We are adding class to only root element for tabs and access children
  with through it
*/
.custom-tabs {
  position: relative;
  top: 20px;
}
.custom-tabs .mdl-tabs__tab-bar { /* tab-bar */
  border-bottom: none;
  justify-content: flex-start;
}
.custom-tabs .mdl-tabs__tab { /* tab */
  color: rgba(255, 255, 255, 0.7) !important;
}
.custom-tabs .mdl-tabs__tab.is-active {
  color: rgba(255, 255, 255, 1) !important;
}
.custom-tabs .mdl-tabs__tab.is-active::after {  /* tab::after */
  background: rgba(255, 255, 255, 1) !important;
}
.custom-tabs__panel { /* tabs_panel */
  padding: 20px 15px;
}

/* LIST
  Same as tabs we are applying the class to only root element
*/
.sidebar__nav-list .mdl-list__item span,
.sidebar__nav-list .mdl-list__item i {
  color: rgba(255, 255, 255, 0.7);
}

/* PLAYER */
.player {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: flex;
  opacity: 0.9;
  flex: 0 0 90px;
  background: rgb(45, 47, 80);
  justify-content: space-between;
}
.player__info-block {
  display: flex;
  align-items: center;
  /*background: red;*/
  flex: 0 0 400px;
  justify-content: flex-start;
}
.player__album-art {
  height: 90px;
}
.player__info {
  margin-left: 10px;
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  flex: 1 0 100px;
}
.player__info p { /* song info */
  margin: 0;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 2px 0;
}
.player__info p:first-child { /* song title */
  font-size: 18px;
}
.player__info p:nth-child(2) { /* song artist */
  color: rgba(255, 255, 255, 0.7);
}
.player__control-primary {
  /*background: blue;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 140px;
}
.player__control-primary i { /* control icons */
  color: white;
  font-size: 25px;
}
.player__control-primary i:nth-child(2) { /* Play Control */
  font-size: 55px;
  color: #00BCD4;
  /*background-color: white;*/
}

.player__control-secondary {
  /*background: pink;*/
  flex: 0 0 200px;
}
